// PARALLAX ========================================================================================
// =================================================================================================
.trajets__body {
  overflow: hidden;
  color: black;
}

.trajets__parallax__container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 10px;

  .trajets__parallax__group {
    position: relative;
    transform-style: preserve-3d;
    width: 100vw;
    z-index: -1;
  }
}
.trajets__parallax__group::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/trajets/temp_1-nosy-be-madagascar-timbuktu-travel-2.avif");
  background-size: cover;
  background-position: 50% 40%;
  transform: translateZ(-7px) scale(1.8);
  min-height: 100vh;
}

// Side text ----------------------------------------------------------------
.trajets__global-presentation {
  position: relative;
  @include flex-modulable(column, center, null, 5rem);
  top: 0;
  padding: 11% 3rem 10%;
  max-width: 25rem;

  color: white;
  background-color: rgba(40, 39, 43, 0.61);

  h1 {
    font-size: 4em;
    margin-inline: 2rem 0;
    text-shadow: $shadow-box-text;
  }
  p {
    flex-basis: 18em;
    margin-inline: 1rem 0;
    font-family: $font-titre-montserrat;
  }
  a {
    align-self: center;
    padding: 0.8rem;
    font-family: $font-titre-montserrat;
    font-size: 1.5em;
    border: 1px solid white;
    box-shadow: $shadow-box-text;
    // display: none;
  }
}

// LES TRAJETS ============================================================================
// ========================================================================================

// GENERAL SETTINGS =======================================================================
// ========================================================================================
// ========================================================================================
// ========================================================================================

$border-radius-trajet: .25rem;
$multiplier-font-size-h2: 1.5;
$multiplier-font-size-p: 1.05;
$multiplier-font-size-span: 0.85;

$trajet-width-map: #{"min(90%, 540px)"};
$trajet-width-around-article: #{"min(85%, 530px)"};


.trajets__grid-container {
  margin-inline: auto;
  width: #{"min(95%, 80rem)"};
}
.trajets__grid {
  @include grid-column(repeat(2, 1fr));
}

/*  TRAJETS DESCRIPTIF_________________________________ */
.trajets__presentation {
  @include flex-modulable(column, start, null, 1.5rem);
  box-shadow: $shadow-box-text;

  h2 {
    position: relative;
    font-size: calc(#{$font-size-h2} * #{$multiplier-font-size-h2});
  }
  h2:after {
    position: absolute;
    content: "";
    background-color: white;
    width: 150%;
    height: 3px;
    z-index: 1;
  }

  span {
    font-size: calc(#{$font-size-p} * #{$multiplier-font-size-span});
  }
  strong {
    font-family: $font-titre-montserrat;
    font-size: calc(#{$font-size-p} * #{$multiplier-font-size-p});
    font-weight: bold;
    color:rgb(73, 64, 64);
  }
  p:nth-of-type(1) {
    padding-top: .8rem;
  }
  p:nth-of-type(2) {
    flex-basis: 12rem;
  }
}

/*  MAP_________________________________ */
.trajets__map-and-button {
  height: 600px;
}
.trajets__map-fig {
  position: relative;

  width: $trajet-width-map;
  z-index: 2;

  img {
    aspect-ratio: 1 / 1.4;

    border-radius: $border-radius-trajet;
    box-shadow: $shadow-box-text-larger;
  }
}

/* ARTICLE PHOTO & TXT____________________ */
.trajets__around-article {
  display: grid;
  position: relative;

  width: $trajet-width-around-article;

  border-radius: $border-radius-trajet;
  box-shadow: $shadow-box-text-larger;

  transition: opacity 0.15s;
  opacity: 1;

  > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  figure {
    img {
      aspect-ratio: 1.5 / 1;
      border-radius: $border-radius-trajet;
    }
  }
}

.around-text-container {
  display: grid;
  margin-bottom: 1%;
  h2 {
    padding: 1rem 3rem;
  }
  p {
    align-self: end;

    padding: 0 2rem 1rem;
    font-size: calc(#{$font-size-p} * $multiplier-font-size-p);
  }
}

/* FOR JS___________________________ */
.trajet__article-fade {
  opacity: 0.2;
}

// ========================================================================================
// ========================================================================================
// ========================================================================================
// ========================================================================================

$color-background-trajet-quoti: rgb(89, 89, 92);
$color-background-trajet-quoti-articles: peru;


.trajets__principal-section {
  color: white;
  background-color: $color-background-trajet-quoti;
  padding: 8rem 0 1rem;
}

/*  TRAJETS DESCRIPTIF____________ */
.quotidien__presentation {
  padding: 60px 10px 60px 60px;

  background-color: $color-background-trajet-quoti-articles;

  h2:after {
    inset: 130% auto auto 0%;
  }
}

/*  MAP____________________ */
.quotidien__map {
  background-color: $color-background-trajet-quoti-articles;
}

.quotidien__map-fig {
  top: 10%;
  left: 7%;
}

.button0-position {
  position: absolute;
  top: 3%;
  left: 42%;
}
.button1-position {
  position: absolute;
  top: 52%;
  left: 78%;
}
.button2-position {
  position: absolute;
  top: 77%;
  left: 38%;
}
/* ------------------------ */
.quotidien__around {
  top: -40%;
  left: 9%;
}



// MEDIA GENERAL =====================================================================
// ===================================================================================
// ===================================================================================
// ===================================================================================
$media-trajet-sidetext: 810px;
$media-trajet-principal-large: 1030px;
$media-trajet-principal-medium: 700px;
$media-trajet-principal-small: 460px;

@media only screen and (max-width: $media-trajet-sidetext) {
  .trajets__global-presentation {
    background-color: rgba(0, 0, 0, 0.384);
    max-width: 100vw;
    align-items: center;
    padding: 35% 20% 0;
    height: min;

    h1 {
      margin-inline: 0;
      text-align: center;
    }
    p {
      margin-inline: 0;
    }
    a {
      visibility: hidden;
    }
  }
}
/* _______________________________________________________________ */

@media only screen and (max-width: $media-trajet-principal-large) {
  .trajets__grid-container {
    width: 63%;
  }
  .trajets__grid {
    @include grid-column(1fr);
    justify-content: center;
    position: relative;
  }
  /* ------------ */
  .trajets__presentation {
    padding: 60px;

    h2:after {
      width: 100%;
    }
  }
  /* ------------ */
  .trajets__map-and-button {
    height: max-content;
  }
  .trajets__map-fig {
    width: #{"min(75%, 550px)"};
  }
  /* ------------ */
  .trajets__around-article {
    position: absolute;
    width: #{"min(65%, 450px)"};

    figure {
      img {
        aspect-ratio: 1 / 1.1;
      }
    }
  }
}

@media only screen and (max-width: $media-trajet-principal-medium) {
  .trajets__grid-container {
    width: #{"min(90%, 30rem)"};
  }
  .trajets__grid {
    @include grid-column(1fr);
  }
     /* ------------ */
  .trajets__map-and-button {
    border-bottom: 130px solid peru;
  }

  .trajets__map-fig {
    width: #{"min(90%, 400px)"};
  }

  .trajets__around-article {
    position: relative;
    width: #{"min(85%, 390px)"};
  }
}


@media only screen and (max-width: $media-trajet-principal-small) {
  .trajets__presentation {
    padding: 35px;
  }
}

/*  MEDIA SPECIFIC_____________________________________________________ */
/* ____________________________________________________________________ */
@media only screen and (max-width: $media-trajet-principal-large) {
  .quotidien__map {
    border-bottom: 50px solid peru;
  }
  .quotidien__map-fig {
    top: -7%;
    left: 46%;
  }
  /* ------------ */
  .quotidien__around {
    grid-row: 2 / 3;
    top: 15%;
    left: -23%;
  }
}

@media only screen and (max-width: $media-trajet-principal-medium) {
  .quotidien__map {
    border-bottom: 130px solid peru;
  }
  .quotidien__map-fig {
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .quotidien__around {
    grid-row: 3 / 4;
    top: -25%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}



// ======================================
// ======================================

.temp__text-fill {
  background-color: rgb(216, 214, 208);
  color: black;
  padding: 5% 25%;

  .para_p {
    padding-bottom: 3rem;
  }
}
