// PARALLAX ========================================================================================
// =================================================================================================
.trajets__body {
  overflow: hidden;
  color: black;
}

.trajets__parallax__container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 10px;

  .trajets__parallax__group {
    position: relative;
    transform-style: preserve-3d;
    width: 100vw;
    z-index: -1;
  }
}
.trajets__parallax__group::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/trajets/temp_1-nosy-be-madagascar-timbuktu-travel-2.avif");
  background-size: cover;
  background-position: 50% 40%;
  transform: translateZ(-7px) scale(1.8);
  min-height: 100vh;
}

// Side text ----------------------------------------------------------------

.trajets__presentation-txt {
  position: relative;
  @include flex-modulable(column, center, null, 5rem);
  top: 0;
  padding: 11% 3rem 9%;
  max-width: 25rem;

  color: white;
  background-color: rgba(40, 39, 43, 0.61);

  h1 {
    font-size: 4em;
    text-shadow: $shadow-box-text;
    margin-inline: 2rem 0;
  }
  p {
    flex-basis: 18em;
    font-family: $font-titre-montserrat;
    margin-inline: 1rem 0;
  }
  a {
    align-self: center;
    font-family: $font-titre-montserrat;
    font-size: 1.5em;
    padding: 0.8rem;
    border: 1px solid white;
    box-shadow: $shadow-box-text;
    // display: none;
  }
}

// LES TRAJETS ============================================================================
// ========================================================================================

.trajets__principal {
  padding: 2% 0 0;
  color: white;
  background-color: rgb(89, 89, 92);
  padding: 8rem 0 1rem;
}

/*  GRID & FLEX //////////////////////////////////////////////////////////// */
.trajets__grid {
  @include grid-column-repeat(2, 30rem, 1fr, null);
}

.trajets__article-presentation {
  @include flex-modulable(column, start, null, 2rem);
}

.trajets__around-article {
  display: grid;

  > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .environement-article-text-container {
    display: grid;
  }
  p {
    align-self: end;
  }
}

/*  POSITION & SIZING //////////////////////////////////////////////////////////// */
$media-trajet-principal: 1030px;
@media only screen and (max-width: $media-trajet-principal) {
}

.trajets__grid-container {
  margin-inline: auto;
  width: #{"min(95%, 80rem)"};
  position: relative;
}
/* ------------------------ */

.trajets__article-presentation {
  padding: 60px 10px 60px 60px;
}

/* ------------------------ */
.trajets__map-and-button {
  position: relative;
  height: 600px;
}

.trajets__map-fig {
  position: absolute;
  top: 10%;
  left: 7%;
  width: #{"min(90%, 525px)"};

  img {
    aspect-ratio: 1 / 1.4;
  }
}

.button0-position {
  position: absolute;
  top: 1%;
  left: 18%;
}
.button1-position {
  position: absolute;
  top: 60%;
  left: 55%;
}
.button2-position {
  position: absolute;
  top: 90%;
  left: 12%;
}
/* ------------------------ */
.trajets__around-article {
  position: relative;
  top: -45%;
  left: 9%;
  width: #{"min(85%, 515px)"};

  figure {
    img {
      aspect-ratio: 1.5 / 1;
    }
  }
}

/*  STYLING //////////////////////////////////////////////////////////// */
/*  TRAJETS DESCRIPTIF ----------------------- */
.trajets__article-presentation {
  background-color: peru;
  box-shadow: $shadow-box-text;

  h2 {
    position: relative;
    font-size: 2.1rem;
    // border-bottom: 3px solid white;
  }
  h2:after {
    position: absolute;
    content: "";
    inset: 130% auto auto 0%;

    background-color: white;

    height: 3px;
    width: 150%;
    z-index: 1;
  }

  p:nth-of-type(2) {
    flex-basis: 12rem;
  }
}

/*  MAP ----------------------- */
.trajets__map-and-button {
  background-color: peru;
}
.trajets__map-fig {
  z-index: 2;

  img {
    border-radius: 0.5rem;
    box-shadow: $shadow-box-text-larger;
  }
}

/* ARTICLE PHOTO & TXT ----------------------- */
.trajets__around-article {
  box-shadow: $shadow-box-text-larger;

  transition: opacity 0.15s;
  opacity: 1;

  .environement-article-text-container {
    margin-bottom: 1%;
  }

  h2 {
    box-sizing: border-box;
    padding: 1rem 3rem;
  }
  p {
    box-sizing: border-box;
    padding: 0 2rem 1rem;
    font-size: calc(#{$margin-p} * 0.9);
  }
}

/* FOR JS */
.trajet__principal-fade {
  opacity: 0.2;
}

// MEDIA ============================================================================
// ========================================================================================

$media-trajet-sidetext: 810px;
@media only screen and (max-width: $media-trajet-sidetext) {
  .trajets__presentation-txt {
    background-color: rgba(0, 0, 0, 0.384);
    max-width: 100vw;
    align-items: center;
    padding: 35% 20% 0;
    height: min;

    h1 {
      margin-inline: 0;
      text-align: center;
    }
    p {
      margin-inline: 0;
    }
    a {
      visibility: hidden;
    }
  }
}

// ======================================
// ======================================

.temp__text-fill {
  background-color: rgb(216, 214, 208);
  color: black;
  padding: 5% 25%;

  .para_p {
    padding-bottom: 3rem;
  }
}
